body{
  background-color: darkgray;
}
input {
  border: 3px solid #555;
  width: 50;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 16px;
}

.center{
  text-align: center;
  padding-top: 40px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 25px;
  margin: 0px 150px 0px;
  min-height: 150px;
}

.border{
  border: 2px solid black;
}